astropy>=5.1.1
chardet>=4.0.0
pandas==1.5.3

# system specific tensorflow install, using environment markers (https://peps.python.org/pep-0508/#environment-markers)


tensorflow[and-cuda];platform_system == "Linux"
#tensorflow[and-cuda]==2.14.0;platform_system == "Windows"
# macos Intel
tensorflow==2.14.0;platform_system == "Darwin" and platform_machine=="x86_64"
# macos Apple Silicon
tensorflow-macos==2.12.0;platform_system == "Darwin" and platform_machine=="arm64"


gpflow==2.6.3; platform_system == "Darwin" and platform_machine=="arm64"
# issue with using: not (environment_marker)
gpflow; platform_system != "Darwin" or platform_machine!="arm64"

#tensorrt>=8.6

# use later version of torch to avoid installing nvidia-cudnn-cu11
# tensorrt==8.5.3.1 also seems to install nvidia-cudnn-cu11
#torch>=2.2.0
#gpytorch
matplotlib>=3.6.2
scipy>=1.9.3
tables>=3.7.0
netCDF4==1.6.2
xarray>=2022.10.0
gast>=0.4.0
pyproj>=3.4.0
seaborn>=0.11.2
jupyter==1.0.0
scikit-learn==1.2.2
numba>=0.56.4
numpy<=1.23.5
pytest>=7.2.0
dataclasses-json==0.5.7
global-land-mask==1.0.0
cartopy==0.22.0

# for generating documentation - requires pandoc to be installed to generate (on linux: sudo apt install pandoc)
Sphinx>=5.0.2
nbsphinx>=0.9.3
numpydoc>=1.6.0
sphinxemoji>=0.2.0
sphinx-rtd-theme>=1.3.0
